<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/puzzle.css" /> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $.getJSON("/p{{puzzle.id}}/?solve", function(data) {
        solution = data['author'];
        document.getElementById(solution).style.backgroundColor="yellow";
    });
  });
</script>
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
</head>
<body>

<div>
   <a href="http://twitter.com/share" class="twitter-share-button"
      data-url="{{ puzzle_url }}"
      data-text="{{ puzzle_share_text }}"
      data-related="said_that:Who Said That?"
      data-via="said_that"
      data-count="horizontal">Tweet</a>
</div>

{% if quote %}
    <div>
     <blockquote>{{ quote.text }}<blockquote>
    </div>
    {% for guess in guesses %}
      <div id={{guess.screenname}}>
       <img src="https://api.twitter.com/1/users/profile_image/{{ guess.screenname }}?size=bigger">
       <p>
	 <div class=name>{{ guess.name }}</div><br><em>{{ guess.description }}</em><br/>
	 <a href="http://twitter.com/#!/{{ guess.screenname}}" target=_blank>See profile on Twitter</a>
       </p>
      </div>
    {% endfor %}
    <div><em>{{ puzzle.id}}</em></div>
{% else %}
    <p>No polls are available.</p>
{% endif %}

</body>
</html>
