<html>
<head>
<title>Who Said That?</title>
<link rel="stylesheet" type="text/css" href="/static/puzzle.css" /> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript">
  var guessed = false;

  function takeGuess(obj) {
     <!-- Only guess once -->
     if (guessed == false) {
       guessed = true;
       $(".col1").css("opacity", '0.2');
       $(".col1").css("-webkit-transition", "opacity 1.5s ease 0s")
       $(".col1").css("-moz-transition", "opacity 1.5s ease 0s");
       $(".col1").css("-o-transition", "opacity 1.5s ease 0s");
       $(".col1").css("transition", "opacity 1.5s ease 0s");
       getSolution(obj.id);
     }
  }

  function getSolution(guess) {
     $.getJSON("/p{{puzzle.id}}/?solve", function(data) {
     var solution = data['author'];
     var sol_id = "#"+solution;
     $(sol_id).css("opacity", "1.0");

     if (!sessionStorage.guessCounter) {
        sessionStorage.setItem('guessCounter',0);
        sessionStorage.setItem('goodGuessCounter',0);
     }
     sessionStorage.setItem('guessCounter',parseInt(sessionStorage.guessCounter)+1);

     var good = (solution == guess);
     if (good) {
        sessionStorage.setItem('goodGuessCounter',parseInt(sessionStorage.goodGuessCounter)+1);
     }
     var results = sessionStorage.goodGuessCounter + " out of " + sessionStorage.guessCounter + " so far";
     document.getElementById('results').innerHTML = results;
    });
     $("#nextpuzzle").css("visibility", "visible");
     $("#shareme").css("visibility", "visible");
     $(".profilelink").css("visibility", "visible");
  }

</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12127510-5']);
  _gaq.push(['_setDomainName', '.saidth.at']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>

{% if quote %}

<div>
  <blockquote class="triangle-border">
   <span id="quote">{{ quote.text }}</quote>
  </blockquote>
  <p>Who said that?</p>
</div>

<div id="container1">
    {% for guess in guesses %}
      <div id={{guess.screenname}} class="col1" onclick="takeGuess(this)">
	<div class="guesscontent"><center>
	  <img src="https://api.twitter.com/1/users/profile_image/{{ guess.screenname }}?size=bigger" width="120px">
	  <p>
	    <div class=name>{{ guess.name }}</div><br><span class="describe">{{ guess.description }}</span><br/>
	    <a href="http://twitter.com/#!/{{ guess.screenname}}" target=_blank class="profilelink">profile on Twitter</a>
	  </p>
	  </center>
	</div>
      </div>
    {% endfor %}
</div>

<center>
  <div id="results">&nbsp;</div>

  <div id="buttons">
    <a href="/puzzle/" id="nextpuzzle" class="button green">Next quote</a>
    <a href="http://twitter.com/share?{{ share_me }}" id="shareme" class="button blue" target="_blank">Share quote on Twitter</a> 
  </div>

</center>


{% else %}
    <p>No polls are available.</p>
{% endif %}

<div class="footer" align="center">
created by <a href="http://twitter.com/#!/imrehg" target=_blank >Greg</a>
on <a href="http://www.dotcloud.com" target=_blank >DotCloud</a>
</div>
</body>
</html>
